.flex-13a {
    display: flex;
    height: 60px;
    width: 30px;
    align-items: center;
}

.div1 {
    background-color: lightpink;
    width: 100px;
}

.div2 {
    background-color: lightblue;
    width: 200px;
}