.name-input {
    margin-bottom: 0px;
    display: block;
}

.email-input {
    margin-top: 4px;
    display: block;
}

.p {
    width: 210px;
    display: inline-block;
    vertical-align: middle;
}

.google-img {
    width: 300px;
    display: block;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 0px; */
}

.search-bar-shadow {
    margin-top: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 200px;
    border-radius: 20px;
    border: solid;
    border-color: rgb(153, 154, 154);
    border-width: 1px;
    box-shadow: 1px 1px 5px rgb(208, 204, 204);
    margin-bottom: 8px;
}

::placeholder {
    font-size: 12px;
}

.first-name {
    border-radius: 6px;
    border: solid;
    border-width: thin;
    border-color: rgb(138, 137, 137);
    width: 100px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: left;
    padding-left: 12px;
    margin-bottom: 8px;
}

.last-name {
    border-radius: 6px;
    border: solid;
    border-width: thin;
    border-color: rgb(138, 137, 137);
    width: 100px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: left;
    padding-left: 12px;
}

.email {
    display: block;
    border-radius: 6px;
    border: solid;
    border-width: thin;
    border-color: rgb(138, 137, 137);
    width: 220px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: left;
    padding-left: 12px;
    margin-bottom: 8px;
}

.sign-up {
    display: block;
    border-radius: 6px;
    border: none;
    padding-left: 90px;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(19, 88, 207);
    color: white;
    font-weight: 700;
}

.ride-now {
    font-weight: bold;
    font-size: 22px;
    font-family: Arial;
}

.pickup-location,
.destination {
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 80px;
    background-color: rgb(235, 234, 234);
    border: none;
    margin-bottom: 5px;
}

.request-now {
    margin-top: 10px;
    background-color: black;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 11px;
    padding-left: 12px;
    padding-right: 12px;
    border: none;
}

.schedule-later {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(209, 209, 209);
    color: black;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 11px;
}