.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
}

.friend-profile {
    border: solid;
    border-color: rgb(238, 237, 237);
    box-shadow: 0px 0px 0.5px rgb(143, 143, 143);
}

.thumbnail-img {
    width: 100%;
    margin-bottom: 0px;
}

.oliver-p {
    margin-top: 0px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-left: 4px;
}

.mutual-friends-grid {
    display: grid;
    grid-template-columns: 32px 1fr;
    align-items: center;
    margin-left: 4px;
    margin-top: 0px;
}

.profile-img {
    height: 30px;
    width: 30px;
    border-radius: 15px;
}

.mutual-friends-p {
    font-size: 12px;
    color: transparent;
    text-shadow: 0 0 1px gray;
}

.add-friend-button {
    background-color: rgba(16, 82, 248, 0.971);
    border: none;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    font-size: 12px;
    margin-left: 4px;
    margin-bottom: 4px;
}