.main-div-flex {
    display: flex;
    flex-direction: row;
}

.middle-right-flex {
    display: flex;
    flex-direction: row;
    margin-left: 307px;
    width: 100%;
    margin-right: -8px;
}

@media (min-width: 500px) and (max-width: 999px) {
    .middle-right-flex {
        margin-left: 263px;
        width: 1000px;
    }
}