.sparkle-icon {
    height: 24px;
    width: 24px;
    padding-right: 15px;
}


/* .head-home-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: aqua;
    position: fixed;
    top: 0px;
    left: 332px;
    width: 600px;
    border-right: 0.001px solid rgb(233, 233, 233);
}

.home-head-p {
    font-weight: 700;
}

.sparkle-icon {
    height: 24px;
    width: 24px;
    padding-right: 15px;
} */


/* .header-flex {
    display: flex;
    flex-direction: row;
    position: fixed;
    left: 312px;
    right: 312x;
    top: 0px;
    height: 60px;
    z-index: 0;
    align-items: center;
    background-color: white;
}

.header-left-flex {
    display: flex;
    flex-direction: row;
    width: 600px;
    justify-content: space-between;
    align-items: center;
}

.home-head-p {
    padding-left: 20px;
    font-weight: 700;
    font-size: 20px;
}

.head-home-flex {
    display: flex;
    justify-content: space-between;
}




/* 
.header-right-flex {
    display: flex;
    flex-direction: row;
}

.search-twitter-input {
    margin-left: 35px;
    padding: 15px 120px 15px 50px;
    border-radius: 25px;
    border: none;
    background-color: rgb(236, 236, 236);
}

.search-twitter-input::placeholder {
    font-size: 15px;
    color: rgb(63, 63, 63);
} */