.profile-img1 {
    height: 28px;
    width: 28px;
}


/* .main-div-flex {
    display: flex;
    flex-direction: row;
}

.main-flex {
    display: flex;
    flex-direction: column;
    margin-left: 322px;
    width: 600px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border-right: 0.001px solid rgb(233, 233, 233);
    background-color: bisque;
}

.content-flex {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    top: 60px;
}

.profile-img1 {
    height: 28px;
    width: 28px;
} */