.middle-div-flex {
    display: flex;
    flex-direction: column;
    width: 600px;
    /* background-color: blueviolet; */
    /* position: relative;
    left: 320px;
    top: 0px;
    bottom: 0px;
    width: 600px; */
    /* background-color: aqua; */
}

.middle-home-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    position: fixed;
    top: 0px;
    left: 321px;
    right: 0px;
    width: 600px;
    /* border-right: 0.001px solid rgb(233, 233, 233); */
    align-items: center;
    z-index: 20;
    /* background-color: gold; */
}

.content-flex {
    /* position: relative;
    top: 51px;
    left: -321px;
    right: 0px;
    width: 600px; */
    /* width: 600px; */
    width: 100%;
    margin-top: 75px;
    display: flex;
    flex-direction: row;
    background-color: white;
    z-index: 19;
    border-bottom: 1px solid rgba(225, 223, 223, 0.4);
    padding-bottom: 10px;
    /* background-color: pink; */
}

.post-flex {
    display: flex;
    flex-direction: column;
    /* position: relative;
    top: 51px;
    left: -8px;
    right: 0px;
    width: 600px; */
    background-color: white;
}

.middle-head-p {
    margin-left: 14px;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
}


/* .profile-img1 {
    height: 28px;
    width: 28px;
} */

.sparkle-icon {
    height: 24px;
    width: 24px;
    margin-right: 15px;
    padding: 6px;
}

.sparkle-icon:hover {
    background-color: rgb(220, 220, 220);
    border-radius: 50%;
    cursor: pointer;
}

.profile-img1 {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    transition: filter 0.15s;
}


/*To fill color on top of the image*/

.profile-img1:hover {
    filter: opacity(0.7) drop-shadow(0 0 0 rgb(114, 113, 113));
    cursor: pointer;
}

.content-div-flex {
    display: flex;
    flex-direction: column;
    width: 600px;
    line-height: 40px;
}

.choose-audience {
    padding-left: 10px;
}

.choose-aud-select {
    border-radius: 24px;
    width: 100px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
    border: 1px solid rgb(182, 182, 182, 0.8);
    color: rgb(0, 172, 238);
    font-weight: 700;
    margin-bottom: 18px;
}

.choose-aud-select:hover {
    cursor: pointer;
    background-color: rgb(203, 232, 251);
}

.whats-happening {
    border: none;
    font-size: 19px;
    /* color: rgb(0, 0, 0); */
    padding-left: 8px;
}

.who-can-reply {
    margin-left: 10px;
    margin-bottom: 8px;
    width: 500px;
    border-bottom: 1px solid rgba(225, 223, 223, 0.4);
}

#globe-icon {
    color: rgb(0, 172, 238);
    position: absolute;
    top: 178px;
    z-index: 2;
    padding-left: 10px;
}

.who-can-reply-select {
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    color: rgb(0, 172, 238);
    font-weight: 700;
    padding-left: 28px;
    padding-right: 0px;
    border-radius: 30px;
    padding-top: 4px;
    padding-bottom: 4px;
    position: relative;
    z-index: 1;
    width: 164px;
}

.who-can-reply-select:hover {
    cursor: pointer;
    background-color: rgb(203, 232, 251);
}

.icons-list-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.icons-list {
    margin-top: 10px;
    margin-left: 10px;
}

#icons {
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(0, 172, 238);
    /* transition: padding 0.15s; */
}

#icons:hover {
    cursor: pointer;
    background-color: rgb(152, 213, 237);
    border-radius: 50%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#location-icon {
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(0, 172, 238);
    opacity: 0.3;
}

.tweet-button {
    background-color: rgb(18, 168, 233, 0.5);
    border: none;
    border-radius: 25px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 18px;
    padding-right: 18px;
    font-size: 19px;
    color: white;
    margin-right: 20px;
}

.icons-list-flex {
    display: flex;
    flex-direction: row;
}

.post-see-more-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid rgba(225, 223, 223, 0.4);
}

.chat-icon {
    height: 14px;
    width: 12px;
    margin-left: 52px;
    margin-right: 14px;
    color: grey;
}

.see-more-flex {
    display: flex;
    flex-direction: row;
}

.food-p {
    color: grey;
    font-size: 12px;
    font-weight: 700;
}

.food-span:hover {
    cursor: pointer;
    text-decoration: underline;
}

.see-more-p {
    color: rgb(18, 168, 233);
    font-size: 12px;
    font-weight: 700;
}

.see-more-p:hover {
    cursor: pointer;
    text-decoration: underline;
}

.post-details-flex {
    display: flex;
    flex-direction: row;
    /* position: relative;
    left: 0px;
    right: 0px; */
    border-bottom: 1px solid rgba(225, 223, 223, 0.4);
    /* background-color: red; */
    cursor: pointer;
}

.prof-images {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    transition: filter 0.15s;
}

.prof-images:hover {
    cursor: pointer;
    filter: opacity(0.7) drop-shadow(0 0 0 rgb(107, 106, 106));
}

.prof-imgs-div {
    position: relative;
}

.pi-div {
    margin-left: 20px;
    margin-right: 20px;
}

.pi-div .tooltip {
    position: absolute;
    background-color: rgb(227, 239, 152);
    color: black;
    padding: 4px;
    border-radius: 2px;
    font-size: 12px;
    bottom: 327px;
    right: -104px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    border-radius: 12px;
}

.pi-div .tooltip {
    opacity: 1;
}

.tooltip {
    height: 190px;
    width: 294px;
    display: flex;
    flex-direction: column;
}

.tooltip-img-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tooltip-img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.tooltip-following-btn {
    border-radius: 50px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    height: 34px;
    width: 96px;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid gray;
}

.tooltip-content {
    display: flex;
    flex-direction: column;
    line-height: 0px;
}

.tooltip-head {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 4px;
}

.tooltip-desc {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tooltip-at-p {
    color: gray;
    font-weight: 500;
}

.tooltip-follows-you-div {
    display: flex;
    align-items: center;
    color: gray;
    margin-left: 4px;
    background-color: rgb(255, 0, 0);
    height: 16px;
    border-radius: 4px;
}

.tool-tip-hash {
    color: rgb(13, 188, 241);
}

.tooltip-follow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tooltip-following {
    display: flex;
    flex-direction: row;
}

.tt-following-count-p {
    font-weight: 700;
}

.tt-following-p {}

.tooltip-followers {
    display: flex;
    flex-direction: row;
}

.tt-followers-count-p {
    font-weight: 700;
}

.tt-followers-p {}

.post-head-details {
    line-height: 8px;
}

.post-title-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.post-desc-p {
    font-weight: 700;
}

.post-desc-p:hover {
    cursor: pointer;
    text-decoration: underline;
}

.post-desc-p-at {
    color: gray;
    font-size: 14px;
}

.post-desc-p-at:hover {
    cursor: pointer;
}

.post-hrs:hover {
    cursor: pointer;
    text-decoration: underline;
}

.post-head-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 510px;
    /* background-color: aquamarine; */
}

.dots-menu {
    height: 12px;
    width: 12px;
    margin-right: 20px;
    border-radius: 50%;
    padding: 10px;
}

.dots-menu:hover {
    background-color: rgb(203, 232, 251);
}

.description-post {
    font-size: 13px;
}

.imgs {
    margin-top: 18px;
    margin-bottom: 14px;
}

.imgs-icon {
    height: 400px;
    width: 400px;
    border-radius: 20px;
}

.icons4-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 80px;
    margin-bottom: 14px;
}

.comment-icon,
.retweet-icon,
.heart-icon,
.share-icon {
    color: rgb(153, 153, 153);
    padding: 10px;
    border-radius: 50%;
    transition: background-color 0.4s;
}

.comment-icon:hover {
    color: rgb(18, 183, 239);
    background-color: rgb(183, 229, 244);
}

.retweet-icon:hover {
    color: rgb(11, 184, 11);
    background-color: rgb(200, 246, 200);
}

.heart-icon:hover {
    color: red;
    background-color: rgb(241, 203, 203);
}

.share-icon:hover {
    color: rgb(18, 183, 239);
    background-color: rgb(183, 229, 244);
    ;
}

.who-to-follow-flex {
    display: flex;
    flex-direction: row;
}